<div class="container mx-auto text-center">
  <mat-form-field appearance="outline" style="min-width: 40%;">
    <mat-label>Search</mat-label>
    <input matInput #searchQuery type="text" (input)="onSearchUpdated(searchQuery.value)" />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<ng-container *ngIf="persons$ | async as persons">
  <section *ngIf="persons.length > 0; else noPersons" class="container mx-auto grid md:grid-cols-2 xl:grid-cols-3 gap-6 p-12">
    <mat-card *ngFor="let person of persons" style="min-height: 200px;" class="!flex flex-col justify-center">
      <mat-card-title [routerLink]="[person.slug]" class="cursor-pointer">{{ person.name }}</mat-card-title>
      <mat-card-subtitle *ngIf="person.house" [routerLink]="['/houses', person.house.slug]" class="cursor-pointer">{{ person.house.name }}</mat-card-subtitle>
    </mat-card>
  </section>
</ng-container>
<ng-template #noPersons>
  <div class="container mx-auto text-center p-12">
    <p>No person matching your criteria could be found.</p>
  </div>
</ng-template>
