<mat-toolbar class="container mx-auto">
  <span>Game of Thrones</span>
  <span class="example-spacer"></span>

  <a [routerLink]="['/houses']" routerLinkActive="active">
    <button mat-button aria-label="Houses">
      Houses
    </button>
  </a>
  <a [routerLink]="['/persons']" routerLinkActive="active">
    <button mat-button aria-label="Persons">
      Persons
    </button>
  </a>
  <a [routerLink]="['/quotes']" routerLinkActive="active">
    <button mat-button aria-label="Quotes">
      Quotes
    </button>
  </a>
</mat-toolbar>
