<div class="container mx-auto text-end p-12">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput #searchQuery type="text" (input)="onSearchUpdated(searchQuery.value)" />
  </mat-form-field>
</div>

<section class="container mx-auto grid grid-cols-3 gap-6 p-12" *ngIf="houses$ | async as houses">
  <ng-container *ngFor="let house of houses">
    <a [routerLink]="[house.slug]">
      <mat-card class="!flex items-center justify-center" style="min-height: 200px;">
        <mat-card-content class="text-xl">
          {{ house.name }}
        </mat-card-content>
      </mat-card>
    </a>
  </ng-container>
</section>
