<section class="container mx-auto gap-6 p-12" *ngIf="person$ | async as person">
  <div class="text-center mb-6">
    <button mat-raised-button (click)="generateRandomQuotes()">
      Generate Random Quotes
    </button>
  </div>
  <mat-card class="p-10 my-2">
    <mat-card-header>
      <mat-card-title>
        {{ person.name }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ person.house.name }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="px-4 py-2" *ngIf="person.quotes.length > 0">
      <h2 class="font-bold text-gray-900 px-4">Quotes:</h2>
      <blockquote *ngFor="let quote of person.quotes" class="text-lg italic font-semibold text-gray-700 px-4">
        <p>"{{ quote }}"</p>
      </blockquote>
    </mat-card-content>
  </mat-card>
</section>
